{% extends 'layouts/default.html' %}

{% block css %}
	<style type="text/css">
	.opciones{
		margin-top: 2%;
	}

	.opcion{
		
		background-color: white;
		padding-top: 1em;
		padding-bottom: 1em;	
		
	}

	.opcion:hover{
		
		background-color:  rgb(245, 12, 92);
		color: white;
		
	}

	.principal{
		margin-top: 2%;
	}

	.perfil{

		border-radius: 5px;
		padding-bottom: 2em;	
	}

	.mensaje-principal{
		color: rgb(245, 12, 92);
	}

	.cursor{
		cursor: pointer;
	}

	.tiendas{
		display: none;
	}

	.ventas{
		display: none;
	}
	
	</style>
{% endblock %}

{% block contenido %}
<div ng-controller="perfil">
	<div class="row opciones">
		<div class="col-xs-12 col-md-2 col-lg-2 col-md-offset-3 col-lg-offset-3 color-negro  ">
			<h3 class="opcion cursor btn-facturacion"><p class="text-center">Facturacion</p><h3>
		</div>
		<div class="col-xs-12 col-md-2 col-lg-2   ">
			<h3 class="opcion cursor btn-tiendas"><p class="text-center">Tiendas</p><h3>			
		</div>
		<div class="col-xs-12 col-md-2 col-lg-2 ">
			<h3 class="opcion cursor btn-ventas"><p class="text-center">Ventas</p><h3>
			
		</div>
	</div>
	
	<div class="row principal">
	  	<div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 color-negro perfil bg-white facturacion">

			<form>
				<h3 class="mensaje-principal">Bienvenido {{usuario.username}}, Por favor completa su informacion.</h3>
				
				<h3>Su Facturacion</h3>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Nombre del Titular de la Cuenta</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el nombre del titular de la cuenta">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Nombre del Banco</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el Nombre del Banco">
			  </div>

			  <div class="form-group">
			    <label for="exampleInputEmail1">Su Numero de Cuenta</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese Su Numero de Cuenta">
			  </div>

			 
			  <button type="submit" class="btn btn-success">Aceptar</button>
			</form>
	  		
	  	</div>



	  	<div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 color-negro perfil bg-white tiendas"

			<form>
				<h3 class="mensaje-principal">Bienvenido {{usuario.username}}, Por favor completa su informacion.</h3>
				<h3>Sus Tiendas Referidas</h3>

				<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>Tienda</th>
			          <th>Incluir</th>
			          
			        </tr>
			      </thead>
			      <tbody>

			     
			      	<tr ng-repeat="t in tiendas">
			          <th scope="row">[[$index]]</th>
			          <td>[[t.nombre]]</td>
			          <td> <input type="checkbox" ng-click="incluir_tienda(t.id)"></td>
			          
			        </tr>
			      
			        
			      </tbody>
   				 </table>
			   <button type="submit" class="btn btn-success">Aceptar</button>
			   <button type="button" class="btn btn-primary">Generar Links de Referido</button>
	  		
	  	</div>


	  	<div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 color-negro perfil bg-white ventas">

			<form>
				<h3 class="mensaje-principal">Bienvenido {{usuario.username}}, Por favor completa su informacion.</h3>
				<h3>Sus Ventas</h3>
			  	<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>Tienda</th>
			          <th>Valor</th>
			          <th>Cliente</th>
			          <th>Pago</th>
			          
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <th scope="row">1</th>
			          <td>yo amo los zapatos mexico</td>
			          <th>500 MX</th>
			          <th>Jhon Buendia</th>
			          <th>Pendiente</th>
			          
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>yo amo los zapatos colombia</td>
			          <th>500 MX</th>
			          <th>Jhon Buendia</th>
			          <th>Pendiente</th>
			          
			        </tr>
			        
			      </tbody>
   				 </table>
			   <button type="submit" class="btn btn-success">Aceptar</button>
			   <button type="button" class="btn btn-primary">Generar Informe de Ventas</button>
	  		
	  	</div>
	  
  	</div>
</div> 
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$( document ).ready(function() {
    $('.btn-facturacion').click(function(){
    	$('.facturacion').css('display', 'block');
    	$('.tiendas').css('display', 'none');
    	$('.ventas').css('display', 'none');
    });
    $('.btn-tiendas').click(function(){
    	$('.facturacion').css('display', 'none');
    	$('.tiendas').css('display', 'block');
    	$('.ventas').css('display', 'none');

    });
    $('.btn-ventas').click(function(){
    	$('.facturacion').css('display', 'none');
    	$('.tiendas').css('display', 'none');
    	$('.ventas').css('display', 'block');
    });
});	

</script>

    {% endblock %}